    {% load static  %}
    <div class = "tz-header">
        <div class = "col-md-6">
            <h2 class = "text-center tz-header-tag">Print My Ad</h2>
        </div>
        {% if user.is_authenticated %}
            <ul class="nav col-md-6 tz-ultab" role="tablist">
                <li class="nav-items">
                    <a href="{% url "portal:home" %}" class="nav-link text-white waves-light">Home</a>
                </li>
                <li class="nav-items">
                    <a href="{% url "campaigns:list" %}" class="nav-link text-white waves-light tz-ul-active">Campaign</a>
                </li>
                <li class="nav-items">
                     <a href="{% url "accounts:profile_update" %}" class="nav-link text-white waves-light">Profile</a>
                 </li>
                <li class="nav-items">
                    <a href="{% url "accounts:logout" %}" class="nav-link text-white waves-light">Logout</a>
                </li>
            </ul>
        {% endif %}
    </div>
