{% extends 'portal/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add New Campaign{% endblock %}
{% block content %}
    <br>
    <div class="jumbotron container border">
        <h3 class="text-black-50 font-weight-bold text-center">Add New Campaign</h3>
        <div class="">
            <form enctype="multipart/form-data" method="post" action="{% url "campaigns:add" %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-default" value="Add Campaign" type="submit">
            </form>
        </div>

    </div>

{% endblock %}




